<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66948321507-nds44oplie5o1tak80ifhfifj3c9hm8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66948321507-nds44oplie5o1tak80ifhfifj3c9hm8k</string>
	<key>API_KEY</key>
	<string>AIzaSyA-fFbrEF-9VZcODCIxmfXCU-Q5e4NTspI</string>
	<key>GCM_SENDER_ID</key>
	<string>66948321507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MikaIlkUygulama.Task19ChatAppDevaminDevami</string>
	<key>PROJECT_ID</key>
	<string>task19chatapp-323ed</string>
	<key>STORAGE_BUCKET</key>
	<string>task19chatapp-323ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66948321507:ios:a4c503a2e91f176a9df5d6</string>
	<key>DATABASE_URL</key>
	<string>https://task19chatapp-323ed-default-rtdb.firebaseio.com</string>
</dict>
</plist>