<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb577331167894843</string>
				<string>com.googleusercontent.apps.66948321507-nds44oplie5o1tak80ifhfifj3c9hm8k</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>577331167894843</string>
	<key>FacebookClientToken</key>
	<string>3dd8d829d77bfd431993bbb44a5ca0b1</string>
	<key>FacebookDisplayName</key>
	<string>myChatApp</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Lütfen profil resmi çekmek için izin verin.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Lütfen sesli ve görünütülü (Yani VİDEO) mesaj gönderilmesilmesine izin verin.</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Profil resminiz için Kütüphaneden fotoğraf çekme işleminize izin verin.</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
</dict>
</plist>
